APP_NAME=SpecAuditControl
APP_ENV=testing
APP_KEY=
DB_CONNECTION=pgsql
DB_HOST=db-must-not-be-used
DB_PORT=5432
CACHE_STORE=array
QUEUE_CONNECTION=sync
LOG_CHANNEL=single
SPEC_AUDIT_BOOT_DB=
SPEC_AUDIT_BOOT_WRITE=
SPEC_AUDIT_BOOT_HTTP=
